<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>章节列表</title>
	<link rel="stylesheet" href="/Novel/NovelFont/Public/css/bootstrap.css">
	<script src="/Novel/NovelFont/Public/js/jquery-3.1.1.js" type="text/javascript"></script>
	<script src="/Novel/NovelFont/Public/js/bootstrap.js" type="text/javascript"></script>
	<style type="text/css" media="screen">
		body{padding: 70px;}
	</style>
</head>
<body>
<div id="app">
	<my-head></my-head>
	<!-- 头部结束 -->
	<h3>第{$chapter[0]["num"]}章:{$chapter[0]["name"]}</h3>
	{$chapter[0]["txt"]}
</div>

<script src="/Novel/NovelFont/Public/js/vue.js"></script>
<script src="/Novel/NovelFont/Public/js/vue-resource.js"></script>
<script src="/Novel/NovelFont/Public/js/vueGlobal.js"></script>
<script src="/Novel/NovelFont/Public/js/vueGlobalInit.js"></script>
</body>
</html>