<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>作品管理</title>
	<link rel="stylesheet" href="/Novel/NovelFont/Public/css/bootstrap.css">
	<script src="/Novel/NovelFont/Public/js/jquery-3.1.1.js" type="text/javascript"></script>
	<script src="/Novel/NovelFont/Public/js/bootstrap.js" type="text/javascript"></script>
	<style type="text/css" media="screen">
		body{padding: 70px;}
	</style>
</head>
<body>
<div id="app">
	<my-head></my-head>
	<div class="row clearfix">
		<!--左菜单-->
		<my-left></my-left>
		<!--右侧表格栏-->
		<div class="col-md-8 column">
			<ul class="nav navbar-right">
				<a href="__APP__/Home/NovelPage/novel_add">新增作品</a>
			</ul>
			<table class="table table-condensed">
				<thead>
				<tr>
					<th>作品ID</th>
					<th>作品名称</th>
					<th>操作<th>
				</tr>
				</thead>
				<tbody>
				<tr  v-for="item in productList">
					<td>{{item.id}}</td>
					<!--<input type="text"  />-->
					<td><a v-bind:href="'__APP__/Home/Chapter/chapterListPage?branch_id='+item.id">{{item.name}}</a></td>
					<td><a v-bind:href="'__APP__/Home/Chapter/toAddPage?branch_id='+item.id">新增章节</a><td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script src="/Novel/NovelFont/Public/js/vue.js"></script>
<script src="/Novel/NovelFont/Public/js/vue-resource.js"></script>
<script src="/Novel/NovelFont/Public/js/vueGlobal.js"></script>
<script src="/Novel/NovelFont/Public/js/branch_manage.js"></script>
</body>
</html>