<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>记录下您的灵感，也许是伟大的开端</title>
    <link rel="stylesheet" href="/Novel/NovelFont/Public/css/bootstrap.css">
    <script src="/Novel/NovelFont/Public/js/jquery-3.1.1.js" type="text/javascript"></script>
    <script src="/Novel/NovelFont/Public/js/bootstrap.js" type="text/javascript"></script>
    <script src="/Novel/NovelFont/Public/ckeditor/ckeditor.js" type="text/javascript"></script>
    <style type="text/css" media="screen">
        body{padding: 70px;}
    </style>
</head>
<body>
    <div id="app">
        <my-head></my-head>
        <!-- 头部结束 -->

        <!--左菜单-->  
        <my-left></my-left>
    </div>
    <script src="/Novel/NovelFont/Public/js/vue.js"></script>
    <script src="/Novel/NovelFont/Public/js/vue-resource.js"></script>
    <script src="/Novel/NovelFont/Public/js/vueGlobal1.js"></script>
    <script src="/Novel/NovelFont/Public/js/vueGlobalInit.js"></script>


            <!-- 右侧章节创建表单 -->
            <div class="col-md-8 column">
                <h>
                    由于网站暂时不完善，所以我们建议现将文本在您的计算机中编辑好，然后黏贴到编辑区
                </h>
                <form action="__APP__/Home/Inspiration/addInsp" method="post" class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input method="post" type="text" class="form-control" placeholder="灵感稍纵即逝，试试记录下来为好" name="insName"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <textarea name="txt"></textarea>
                        </div>
                        <script>
                            CKEDITOR.replace('txt');
                        </script>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
<script src="/Novel/NovelFont/Public/js/vue.js"></script>
<script src="/Novel/NovelFont/Public/js/vue-resource.js"></script>
<script src="/Novel/NovelFont/Public/js/vueGlobal.js"></script>
</body>
</html>